---
layout: bazŝablono
---

{% include language.liquid %}
<article class="afiŝo" lang="{{ lingvo }}">
  <h1>{{ page.title }}</h1>

  <div class="subkaplineo">
    {{ subkaplineo }}
  </div>

  <div class="entry">
    {% if page.bildo %}
    <figure class="ŝveba-bildo">
        <img src="{{ site.baseurl }}{{ page.bildo.loko }}" alt="{{ page.bildo.alt }}" />
        <figcaption class="priskribo">{{ page.bildo.priskribo }}</div>
    </figure>
    {% endif %}

    {{ content }}
  </div>

  <div class="dato">
    {{ datolineo }}
  </div>

  {% include disqus.html %}
</article>
