---
layout: bazŝablono
---

{% include language.liquid %}
<article class="post" lang="{{ lingvo }}">
  <h1>{{ page.title }}</h1>

  <div class="byline">
    {{ subkaplineo }}
  </div>

  <div class="entry">
    {% if page.bildo %}
    <div class="ŝveba-bildo">
        <img src="{{ site.baseurl }}{{ page.bildo.loko }}" alt="{{ page.bildo.alt }}" />
        <div class="priskribo">{{ page.bildo.priskribo }}</div>
    </div>
    {% endif %}

    {{ content }}
  </div>

  <div class="date">
    {{ datolineo }}
  </div>

  {% include disqus.html %}
</article>
